!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SummaryLineMessages
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    %meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
  %body
    %h2= link_to 'LINEメッセージ集計', root_path
    = yield
