!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SummaryLineMessages
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
  %body
    %h2 LINEメッセージ集計
    = yield
